 /* imports */    
@import "./imports/_grid.less";
@import "./imports/_variables.less";
@import "./imports/_fonts.less";

body {
	color: #696969;
}

.container {
	width: 100%;
	height: 100%;
	background-color: #696969;

}

.header {
		font-size: 20px;
		font-weight: 600;
		color: white;
		text-align: center;
		padding: 30px;
		margin: 10px;
	}
	

.news {

	display: flex;

	&__item {
		width: 500px;
		height: 400px;
		border: 1px solid white;
		background-color: white;
		border-radius: 10px;
		box-shadow: 0px 5px 10px white;
		display: inline-block;
		margin: 30px;
		padding: 20px 30px 20px 30px;
		line-height: 25px;

		&:first-child {
			margin-left: 50px;
			margin-right: 10px;
		}

		&:last-child {
			margin-left: 10px;
			margin-right: 50px;
		}	
	}

	&__title {
		line-height: 35px;
		width: 300px;

		&:hover {
			color: #32CD32;
		}
	}
}

a {
	color: #32CD32;
	
	&:hover {
		text-decoration: none;
	}
}

img {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	display: flex;
}

figure {
	width: 60px;
	height: 60px;
	display: flex;
}