 /* imports */    
@import "./imports/_grid.less";
@import "./imports/_variables.less";
@import "./imports/_fonts.less";

html {
	font-family: "Trebuchet MS";
}

/*HEADER*/
.header {
	color: #666666;

	padding-top: 20px;
	padding-bottom: 20px;

	&__container {
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		align-items: center;
	}

	&__logo {
		width: 10%;
	}	

	&__item {
		
		&--logo {
			width: 85px;
			margin-right: auto;
		}
		&--menu {
			
		}

		&--search {
			width: 60px;
			text-align: center;
		}
	}
}

.menu {
	height: 40px;
	margin: 0;
	padding: 0;
	text-align: right;
	font-size: 0;
	&__item {
		height: 40px;
		display: inline-block;
		
		&:last-child {
			margin-right: 0;
		}
	}
	
	&__link {
		display: block;	
		color: #666666;
		font-size: 11px;
		font-weight: 700;
		text-transform: uppercase;
		text-decoration: none;

		padding: 15px 30px;
		
		border-right:1px solid #e1e1e1;
		

		&:hover {
			background-color: rgba(0,0,0,0.05);
		}
	}
}
/*HEADER*/

/*SECTION*/
.info {

	&__block {
		width: 40%;
		padding: 20px;

		border: 1px solid #0091dc;
		background-color: #0091dc;
		color: white;
		font-size: 25px;
		font-weight: 700;
		line-height: 30px;
	
		display: flex;
		position: absolute;
	}

	&__pic {
		width: 100%;
		display: flex;
		position: relative;
	}

	&__example {

	}
}

/*SECTION*/


